<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.Team201App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team201"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".util.auth.CustomTabLauncherActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:scheme="example" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.studyManagement.StudyManagementActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.studyDetail.StudyDetailActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.MainActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.createStudy.CreateStudyActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.profile.ProfileActivity"
            android:exported="false" />
    </application>

</manifest>